<nav class="navbar navbar-inverse navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="{{base.url}}{{site.baseurl}}/index/">Mohammad Ghasemisharif</a>
        </div>
	<ul class="nav navbar-nav navbar-right">
            <li><img class="uic-icon" src="{{site.baseurl}}/assets/images/uic.png"></li>
	</ul> 
       	<!-- migration process 
	<ul class="nav navbar-nav navbar-right">
            <li><a href="http://moebit.com">Blog</a></li>
	</ul> 
	-->
      </div>
</nav>


